:root {
  --main-color:#be9c79;
  --light-color:#666;
  --border:.1rem solid #333; 
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --light: #ffffff;

  --bg-light-fondo:#e6e6fa;
  --primario: #9b9ad5;
  --primario-title:#5f5ea3;
  --secundario: #A3BF42;
  }
  * {
      margin :0;
      padding:0; 
      box-sizing: border-box;
      border:none; 
      outline:none; 
      text-decoration: none;
      text-transform: capitalize;
      transition: all 0.3s linear;
  }
  *::selection {
     background: var(--main-color);
  }
  html {
      font-size: 62.5%;
      scroll-behavior: smooth;
      font-family: 'Nunito', sans-serif;
      overflow-x: hidden;
  }
  section {
    padding:3rem 2rem;
    max-width: 1200px;
    margin:0 auto;
  }
  .btn {
    display: inline-block;
    margin-top:1rem;
    background:var(--main-color);
    font-size: 1.8rem;
    color:#fff;
    padding:1rem 3rem;
    cursor:pointer;
    border-radius: 10px;
  }
  .btn:hover {
    background:#333;
  }
  .btn.active {
    background-color:var(--primario-title);
    color: white;
  }
  .heading {
    padding-top: 3rem;
    text-align: center;
    margin-bottom: .5rem;  
  }
  .heading img {
    height:4rem;
    margin-bottom:1rem;
  }
  .heading h3 {
    font-size:4rem;
    color:#333;
    font-family: 'Merienda One',cursive;
  }
  /*  global rules ends  */
  
  /* header section starts  */
  
  .header {
    position:sticky;
    top:0;left:0;right:0; 
    background:#fff;
    box-shadow: var(--box-shadow);
    z-index: 1000;
  }
  .header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    padding:1.5rem 2rem;
  }
  .header .flex .logo img {
    height:7.5rem;
  }
  .header .flex .navegacion a{
    position:relative;
    font-size: 1.8rem;
    color:rgb(67, 47, 5);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  .header .flex .navegacion a::after{
    content :" ";
    position:absolute;
    width: 100%;
    bottom: -6px;
    left:0;
    height: 2px;
    background: #8b0d0d;
    transform: scaleX(0);
    transform-origin:right ;
    transition: transform .4s;
 }
 .header .flex .navegacion a:hover::after{
    transform: scaleX(1);
    transform-origin:left ;
 }
  #menu-btn{
   font-size: 2.5rem;
   color:#333; 
   cursor:pointer;
   display: none;
  }
  #menu-btn.fa-times {
    transform:rotate(180deg);
  }
  /* header section ends  */
  /* home section starts  */
  .home-bg {
    background: linear-gradient(20deg, #fff, transparent 70%), url(hom2.png) no-repeat;
    background-size: cover;
    background-position: center bottom; 
  }
  .home-bg .home {
    min-height: 70rem;
    display: flex;
    align-items:center;
  }
  .home-bg .home .content {
    width:80rem;
    text-align: center;
  }
  .home-bg .home .content  h3{
    font-size: 6rem;
    color:#333; 
    font-family: 'Merienda One',cursive;
  }
  .home-bg .home .content p {
    padding:1rem 0; 
    font-size: 3rem;
    color:var(--main-color); 
    line-height: 2;
  }
/* home section ends  */

  /* about section starts  */
  .about {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    gap:4rem;
  }
  .about .image {
    flex:1 1 40rem; 
  }
  .about .image img{
    width:100%;
  }
  .about .content{
    flex:1 1 40rem;
  }
  .about .content h3{
    font-size:4.5rem;
    color:#333;
    font-family: 'Merienda One',cursive;
    padding-bottom: 1rem;
  }
  .about .content p {
    padding:1rem 0; 
    line-height: 2;
    font-size:1.5rem;
    color:var(--light-color);
  }
  /* about section ends  */
  /*Agregar productos*/
  .producto {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    gap:4rem;
    
  }
  .producto .image {
    flex:1 1 40rem; 
  }
  .producto .image img{
    width:100%;
  }
  .producto .content{
    flex:1 1 40rem;
  }
  .producto .content p {
    padding:1rem 0; 
    line-height: 2;
    font-size:1.5rem;
    color:var(--light-color);
    text-align: justify;
  }
  .producto .button-container {
    display: flex;
   gap: 20px;
  
  }
  /*termina agregar productos*/

/*iconos del inventario*/
  .facility .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
    gap:1.5rem;
    align-items: flex-start;
  }
  .facility .box-container .box{
  text-align: center;
  }
  .facility .box-container .box img{
  height:10rem;
  margin-bottom: .5rem;
  }
  .fondo{
    position:relative;
    width: 400px;
    height: 530px;
    background:#fff;
    border: 2px solid rgba(16, 16, 16, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba (0,0,0,.5);
    display:flex;
    justify-content: center;
    align-items: center;
  }
  /*termina los iconos del inventario*/

.contenedor-input {
    width:100%;
    font-size: 1.5rem;
    color:#333;
    margin:1rem 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
   
}
.contenedor-input label{
  top:50%;
  left:5px;
  font-size: 1em;
  font-weight: 600;
  pointer-events: none;
}
.contenedor-input input{
  width: 100%;
  border-radius: 5px;
  border:var(--border);
  outline: none;
   padding: 10px;  
   text-transform: none;
}
 
.contenedor-input .btn {
  display: inline-block;
    margin-top:1rem;
    background:var(--main-color);
    font-size: 1.8rem;
    color:#fff;
    padding:1rem 3rem;
    cursor:pointer;
    border-radius: 10px;
}
.contenedor-input .btn:hover {
  background:#333;
  color: #fff;
}

/* seccion de tabla */
.tabular-wrapper{
  border-radius: 10px;
}
.table-container{
  width: 100%;
  text-align: center;
}
.cabecera {
  text-align: center;
  background-color: rgb(250, 249, 249); 
  color: rgb(190, 19, 19); 
}
.cabecera td {
  text-align: center;
  padding: 10px; 
  font-weight: bold; 
  border: 1px solid #a72525; 
}
.btn-espacio {
  margin-right: 10px; 
}
table{
  width: 100%;
  border-collapse: collapse;
}
tbody{
   background: var(--bg-light-fondo);
}
td{
   padding: 15px;
   font-size: 14px;
}
tr:nth-child(even){
   background:var(--light);
}
/* Media queries para ser responsivo*/

/* gallery section starts  */
.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap:2rem;
  align-items: flex-start;
  justify-content: center;
}
.gallery .box-container img {
  width:100%; 
  height:100%;
  object-fit: cover;
}
/* gallery section ends  */


/* footer section starts  */
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap:1.5rem;
  align-items: flex-start;
}
.footer .box {
  text-align: center;
}
.footer .box-container .box i {
  font-size: 2.5rem;
  line-height: 6rem;
  height:6rem;
  width:6rem;
  border-radius:50%;
  background:var(--main-color);
  color:#fff;
  margin-bottom: 1rem;

}
.footer .box-container .box h3 {
  margin:1rem 0; 
  font-size:2rem; 
  color:#333;
}
.footer .box-container .box p {
  line-height: 2;
  font-size:1.6rem;
  color:var(--light-color);
}
.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top:2.5rem; 
  border-top:var(--border); 
  font-size:2rem;
  color:#333;
}
.footer .credit span {
  color:var(--main-color);
}
/* footer section ends  */

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}








.products  .box-container{
  display:flex;
  flex-wrap:wrap;
  gap: 1.5rem;
}
.products  .box-container .box{
  flex:1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.1);
  position: relative;
}
.products  .box-container .box .discount{
  position: absolute;
  top:1rem; left:1rem;
  padding: .7rem 1rem;
  font-size: 2rem;
  color:rgb(145, 9, 83);
  background: rgba(255,51,153,.05);
  z-index: 1;
  border-radius: .5rem;
}
.products  .box-container .box  .image{
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;


}
.products  .box-container .box  .image img{
  height:30rem ;
}
.products  .box-container .box:hover  .image img{
  transform: scale(1.1);
}
.products  .box-container .box  .image .icons{
  position: absolute;
  bottom:-7rem; left: 0; right:0;
  display:flex

}
.products  .box-container .box:hover .image .icons{
  bottom: 0;

}
.products  .box-container .box  .image .icons a{
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background:#eee5dd;
  color:#81066e;
}
.products  .box-container .box  .image .icons .cart-btn{
  border-left:.1rem solid #fff7;
  border-right:.1rem solid #fff7;
  width:100%
}
.products  .box-container .box  .image .icons a:hover{
 
  background: rgba(245, 183, 177 );
}
.products  .box-container .box .content {
  padding:2rem;
  text-align: center;
}
.products  .box-container .box .content  h3{
  font-size: 2.5rem;
  color:#333;
}
.products  .box-container .box .content  .price{
  font-size: 2.5rem;
  color:#791469;
  font-weight: bolder;
  padding-top: 1rem;
}
.products  .box-container .box .content  .price span{
  font-size: 1.5rem;
  color:#999;
  font-weight: lighter;
  text-decoration: line-through;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.diagonal {

  border: 1px solid rgba(50, 50, 50, 0.5);
  width: 40px;
  transform: rotate(45deg);
}



































































